<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand light-text" href="#"><h1>Kvant</h1></span>
    What comes next?
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-8 collapse navbar-collapse d-inline-flex justify-content-end" id="nevegacion">
      <ul class="nav justify-content-end">        
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-navlink" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="changeDynamicComponent(!flag)" >Add publication</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">My space</a>
        </li>
      </ul>
      <form class="d-inline-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>