
.publication{
    max-width:  10rem;
    max-height: 10rem;
    margin: 0 auto;
    padding: 0.5rem;
    align-items: center!important;
    justify-self: center!important;
    overflow: hidden;
}



.addbtn{
    background-color: #478866;
    color: #eeeeee;
  
}
 .card-header{
    background-color: #0c2844;
    color: #eeeeee;
    text-align: center;
}