
.publication{
    width: auto;
    height: 18rem;
    margin: 0 auto;
    padding: 0.5rem;
    align-items: center!important;
    justify-self: center!important;
    overflow: hidden;
}



.addbtn{
    background-color: #476888;
    color: #eeeeee;
  
}
 .card-header{
    background-color: #0c2844;
    color: #eeeeee;
    text-align: center;
}