




.addbtn{
    background-color: #478866;
    color: #eeeeee;
  
}
 .card-header{
    background-color: #0c2844;
    color: #eeeeee;
    text-align: center;
}
.card{
    height: 15rem!important;
    text-overflow: clip;
    
}
