<div class="container">
 @if(!change_to_form){
  
  <div class="row">
      @for (publish of publications; track publish.local_id) {
          <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card">
                  <div class="card-header">
                      <h5 class="card-title">{{publish.title}}</h5>
                  </div>
                  <div class="card-body">
                      <p class="card-text">{{publish.description}}</p>
                      @if (publish.image) {
                          <div><img src="{{publish.image}}" class="card-img-top publication" alt="..."></div>
                      }
                      <div>{{publish.cost.total_cost|currency:'MXN'}}</div>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <div class="dropdown">
                              <button class="btn btn-secondary dropleft-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Details...
                              </button>
                              <ul class="dropdown-menu">
                                  <!-- Aquí van los detalles adicionales si es necesario -->
                              </ul>
                          </div>
                          <button class="btn addbtn">Add</button>
                      </div>
                  </div>
              </div>
          </div>
      }

@empty {
  Sorry there are no publications to show
}
  </div>
}
@else {
  <app-publish-form></app-publish-form>
}
</div>

